#cuisine {


    >div {
        grid-area: cuisine;

        >div {

            @include md {
                display: grid;
                grid-template-columns: 16px auto 16px;
                grid-template-areas: ". dishes .";
            }

            @include xl {
                grid-template-columns: auto 1000px auto;
            }

            ul {

                display: grid;
                grid-template-columns: 50% auto;
                grid-template-areas: "streetfood coffee";

                @include md {
                    gap: 7px;
                    grid-area: dishes;
                }

                li {
                    section {
                        display: grid;
                        grid-template-columns: 16px auto 16px;
                        grid-template-areas: ". cuisine-content .";

                        @include md {
                            grid-template-columns: 0 auto 0;
                        }

                        >div {
                            grid-area: cuisine-content;
                        }
                    }

                }



                #streetfood {
                    p {
                        display: none;

                        @include md {
                            display: list-item;
                            grid-area: streetfood;
                        }
                    }
                }

                #coffee {
                    p {
                        display: none;

                        @include md {
                            display: list-item;
                            grid-area: coffee;
                        }
                    }
                }


            }
        }


        #cuisine-intro {

            @include md {
                background-image: url("../img/cuisine/pun.jpg");
                height: 300px;
                background-position: center;
                background-size: cover;
display: flex;
align-items: flex-end;
            }

            // section{

            >div {

                h1 {
                    text-align: center;


                    @include md {
                        color: $white;
                        text-align: left;
                        padding-left: 16px;
                    }

                }

                p {
                    padding-left: 16px;

                    @include md {
                        color: $white;
                        width: 300px;
                    }

                    @include lg {
                        width: 40%;
                    }
                }
            }

            // }






        }
    }
}