#glance{

    #glance-content{
        display: grid;
        grid-template-columns: 16px auto 16px;
        grid-template-areas: ". glance-content .";

        >div{
            grid-area: glance-content;
        }
    }
}