#glance{
>div{

    .guide{
       
        background-color: $prussian;
        height: 8px;
        width: 60%;
        margin-top: 5px;
        
        >div{
            background-position: center;
        }
    }

     #glance-content{
        display: grid;
        grid-template-columns: 16px auto 16px;
        grid-template-areas: ". glance-content .";

        p2{
            display: none;
        }

        p3{
            display: none;
        }

        >div{
            grid-area: glance-content;
        }
    }
}
   
}