#glance{
    margin-bottom: 64px;
    @include md{
        display: grid;
             grid-template-columns: auto 600px auto;
             grid-template-areas: ". glance . ";

    }

    @include lg{
        grid-template-columns: auto 900px auto;
    }

>div{

    @include md{
        grid-area: glance;
    }

    >div{
         @include md{
             display: grid;
             grid-template-columns: 50% auto;
             grid-template-areas: " aside glance-content ";
         }

         aside{
             grid-area: aside;
             
         }
    }
   


    .guide{
       
        background-color: $prussian;
        height: 8px;
        width: 60%;
        margin-top: 5px;
       margin-left: 20%;

       @include md{
           width: 100%;
           margin-left: 0px;
       }
        
        >div{
            background-position: center;
            
        }
    }

     #glance-content{
        display: grid;
        grid-template-columns: 16px auto 16px;
        grid-template-areas: ". glance-content .";
        padding-bottom: 60px;

        p2{
            display: none;
            @include lg{
                display: contents;
            }
        }

        p3{
            display: none;
            @include lg{
                display: contents;
            }
        }

        >div{
            grid-area: glance-content;
          
        }
    }
}
   
}