#hero {
    >div {

        #hero-image{
            background-image: url("../img/header/xich-lo.jpg");
            background-position: center;
            background-size: cover;
            height: 800px;
           
            
            i{
                color: $white;
                 display: flex;
                // align-content: center;
                justify-content: center;
                font-size: rem-calc(50);
            }
        }

        #hero-content {
        display: grid;
        grid-template-columns: 16px auto 16px;
        grid-template-areas: ". hero-content .";

        @include lg {
            grid-template-columns: auto 900px auto;
        }
    
        @include xl {
            grid-template-columns: auto 1100px auto;
        }
            

            >div {
                grid-area: hero-content;
               
                p{
                    @include md{
                    width: 60%;
                } 
                }
               

                
            }



        
    }
    }

    
}