#human{
    @include md{
        display: grid;
        grid-template-columns: auto 600px auto;
        grid-template-areas: ". human .";
    }

    @include lg{
        grid-template-columns: auto 900px auto;
    }

    @include xl{
        grid-template-columns: auto 1000px auto;
    }

    >div{
        
        @include md{
            grid-area: human;
        }
        h1{
            text-align: center;
            @include md{
                text-align: left;
            }
        }


        article{
            display: grid;
            grid-template-columns: 16px auto 16px;
            grid-template-areas: ". human-content .";
            @include md{
                grid-template-columns: 0 auto 0;
            }

            p2{
                display: none;
            }

            >div{
                grid-area: human-content;
            }
        }

        aside{
            >div{
                ul{
                    li{

                    }

                    #h1{

                    }

                    #h2{
                        display: none;
                        @include lg{
                            display: list-item;
                        }
                    }

                    #h3{
                        display: none;
                        @include lg{
                            display: list-item;
                        }
                    }

                    #h4{
                        display: none;
                        @include lg{
                            display: list-item;
                        }
                    }

                    #h5{
                        display: none;
                        @include lg{
                            display: list-item;
                        }
                    }
                }
            }
        }

        .guide{
       
            background-color: $prussian;
            height: 8px;
            width: 100%;
            margin-top: 5px;
            
            >div{
                background-position: center;
            }
        }
    }
}