#human {
    @include md {
        display: grid;
        grid-template-columns: auto 600px auto;
        grid-template-areas: ". human .";
    }

    @include lg {
        grid-template-columns: auto 900px auto;
    }

    @include xl {
        grid-template-columns: auto 1000px auto;
    }

    >div {

        @include md {
            grid-area: human;

        }

        h1 {
            text-align: center;

            @include md {
                text-align: left;
            }
        }

        >div {

            @include md{
                display: grid;
                grid-template-columns: 50% auto;
                grid-template-areas: "info gallery";
            }


            #info{
                display: grid;
                grid-template-columns: 16px auto 16px;
                grid-template-areas: ". human-content .";

                @include md {
                    grid-template-columns: 0 auto 0;
                    grid-area: info;
                }

                p2 {
                    display: none;
                    @include md{
                        display: contents;
                    }
                }

                >div {
                    grid-area: human-content;
                }

              
            }

            #gallery{
                ul{
                     @include md{
                    grid-area: gallery;
                }
                li{

                }
                #h1{
                    
                }

                #h2{
                    display: none;

                }

                #h3{
                    display: none;

                }

                #h4{
                    display: none;

                }

                #h5{
                    display: none;

                }
                }
               
            }
        }




        .guide{
       
            background-color: $prussian;
            height: 8px;
            width: 60%;
            margin-top: 5px;
           margin-left: 20%;
    
           @include md{
               width: 100%;
               margin-left: 0px;
           }
            
            >div{
                background-position: center;
                
            }
        }
    }
}