#tips{
    margin-bottom: 64px;

    @include md{
        display: grid;
        grid-template-columns: auto 600px auto;
        grid-template-areas: ". tips .";
        // background-color: $smoked-blue;
        margin-top: -250px;
       
    }


    @include lg{
        grid-template-columns: auto 900px auto;
        margin-top: -350px;
    }

    @include xl{
        grid-template-columns: auto 1000px auto;
        margin-top: -450px;
    }
    >div{
        @include md{
            grid-area: tips;
        }

        
        ul{
            margin-top: 30px;
            @include md{
                display: grid;
                grid-template-columns: 50% auto;
                grid-template-areas: "where how"
                                      "when restriction";
                gap: 60px;
            }
            li{
                section{
                    display: grid;
                grid-template-columns: 16px auto 16px;
                grid-template-areas: ". tips-content .";

                @include md{
                    grid-template-columns: 0 auto 0;
                }

                

                >div{
                    grid-area: tips-content;

                    h4{
                        text-align: center;
                        color: $ocean;
                        font-size: rem-calc(18);
                        font-family: 'Sora', sans-serif;
                        padding-bottom: 9px;

                        @include md{
                            text-align: left;
                            
                        }

                        @include lg{
                            font-size: rem-calc(23);
                        }
                    }

                    p{
                       color: $rock;
                       font-weight: 300;
                       line-height: 24px;
                       margin-bottom: 25px;

                       @include md{
                           margin-bottom: 10px;
                       }

                       @include lg{
                           font-size: rem-calc(17);
                           margin-bottom: 25px;
                       }
                    }

                    .tipz{
                        display: none;

                        @include md{
                            display: flex;
                          
                            font-family: 'Sora', sans-serif;
                            font-weight: 100;
                            font-size: rem-calc(14);

                            a:link,
                            a:visited {
                                transition: 0.25s;
                                color: $rock;
                                font-weight: 100;
                                margin-left: 5px;
                
                                &:hover {
                                    color: $ocean;
                                }
                            }

                            i{
                                color: $smoked-blue;
                                
                            }

                            p{
                                font-weight: 100; 
                                margin-left: 5px;
                            }

                        }
                    }
                }
                }
                
            }

            #where{
                grid-area: where;
            }

            #how{
                grid-area: how;
            }

            #when{
                grid-area: when;
            }

            #restriction{
                grid-area: restriction;
            }
        }

        >div{
           
            h1{
                text-align: center;
                color: $prussian;
                font-family: 'Sora', sans-serif;
                
                padding-bottom: 10px;
                @include md{
                    text-align: left;
                }
            }

            #img{
            
        }
        }

        
    }

}