#header {
    // padding: 15px 0;
    background-color: $prussian;
    // left: 0;
    // position: fixed;
    // top: 0;
    // width: 100%;
   

    @include md {
        background-color: transparent;
       
    }

    >div {
        display: grid;
        grid-template-areas: "logo burger"
            "nav nav";
        grid-template-columns: auto 20%;

        @include md {
          grid-template-columns: 0;
        }

        #logo-container {
            display: flex;
            grid-area: logo;
            padding: 15px;
            padding-left: 43%;

            @include md {
                padding-left: 0;
                display: none;
            }

            a:link,
            a:visited {
                color: $white;
                font-size: rem-calc(30);
                font-weight: 600;
                transition: 0.25s;

                &:hover {
                    color: $yellow;
                }

                @include lg {
                    font-size: rem-calc(36);
                }
            }
        }

        #burger-container {
            align-items: center;
            color: $white;
            display: flex;
            grid-area: burger;
            padding: 10px;

            @include md {
                display: none !important;
            }

            i {
                cursor: pointer;
                font-size: rem-calc(40);
                margin-left: auto;

                &:hover {
                    color: $yellow;
                }
            }
        }

        #nav-container {
            background-color: $egg;
            color: $ocean;
            display: none;
            grid-area: nav;
            padding: 20px 0 10px;
            text-align: center;

            @include md {
                background-color: transparent;
                display: block !important;
              
            }

            >div {

                @include md{
                 display: flex;
                 justify-content: space-around;
                
                // justify-content: center;
                }
                


                #left {
                   @include md{
                       grid-area: left;
                    
                   }
                }

                #title{
                    display: none;

                    @include md{
                        grid-area: title;
                        display: flex;
                        margin: -6px -5px;
                    
                }

                @include lg{
                    margin: -6px -20%;
                }

                @include xl{
                    margin: -6px -30%;
                }
            }

                #right {
                    @include md{
                        grid-area: right;
                    }
                }
            }
        }
    }
}