/* =============
    Buttons
============= */
.green-button{
    
    background-color: $asparagus;
    color: $white;
    border: none;
    border-radius: 3px;
    font-size: rem-calc(16);
    font-weight: 500;
    font-family: 'Sora', sans-serif;
    padding: 6px;
    
    &:hover {
		background-color: $ocean;
		color: $white;
        cursor: pointer;
	}
}